NoobaFE/Debug/*
NoobaFE/GeneratedFiles/*
NoobaFE/Win32/*
NoobaFE/release/*
NoobaFE/x64/*
NoobaPluginAPI/Debug/*
NoobaPluginAPI/Win32/*
NoobaPluginAPI/release/*
NoobaPluginAPI/x64/*
ipch/*

*.sdf
*.opensdf
*.suo

# Compiled source #
###################

*.o
*.so

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.com
*.class
*.exe

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave
