
*[canvas="true"] { background-color: rgb(91, 91, 91); }

* { outline: none; }

QFrame#toolbar
{
    background-color: white;
}

QFrame#toolbar > QToolButton
{
    background-color: transparent;
}

QFrame#toolbar > QToolButton:hover
{
    background-color: rgba(255,155,0);
}

QStatusBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #606060, stop:1 #303030);

    color: white;
 }

/************************************************************/

QMenu {
     background-color: white;
     margin: 2px; /* some spacing around the menu */
 }

 QMenu::item {
     padding: 2px 25px 2px 20px;
     border: 1px solid transparent; /* reserve space for selection border */
     border-radius: 4px;
 }

 QMenu::item:selected {
     border-color: none;
     background: rgba(15, 130, 190, 150);
     border-radius: 4px;
 }

 QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: gray;
     border: 1px inset gray;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }

 QMenu::separator {
     height: 2px;
     background: lightblue;
     margin-left: 10px;
     margin-right: 5px;
 }

 QMenu::indicator {
     width: 13px;
     height: 13px;
 }

/************************************************************/

QMenuBar {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 lightgray, stop:1 darkgray);
 }

 QMenuBar::item {
     spacing: 3px; /* spacing between menu bar items */
     padding: 1px 4px;
     background: transparent;
     border-radius: 4px;
 }

 QMenuBar::item:selected { /* when selected using mouse or keyboard */
     background: #a8a8a8;
 }

 QMenuBar::item:pressed {
     background: #888888;
 }

 QHeaderView::section {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #616161, stop: 0.5 #505050,
                                       stop: 0.6 #434343, stop:1 #656565);
     color: white;
     padding-left: 4px;
     border: 1px solid #6c6c6c;
 }
