
*[canvas="true"] { background-color: rgb(91, 91, 91); }

* { outline: none; }

QFrame#toolbar
{
    border-top: 1px solid black;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 #fcfcfc, stop:1 #f1f1f1);
}

QFrame#toolbar > QToolButton
{
    background-color: transparent;
}

QFrame#toolbar > QToolButton:hover
{
    background-color: rgba(255,155,0, 200);
}

QStatusBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #606060, stop:1 #303030);
    color: white;
 }

QTreeView
{
    border: 1px solid #616161;
    border-top: none;
}

QDockWidget {
    border: 2px solid #606060;
    color: #308cc6;

}

QDockWidget::title {
    text-align: left; /* align the text to the left */
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop:0 #fcfcfc, stop:1 #f1f1f1);
    padding-left: 5px;
    color: white;
}

QMainWindow::separator {
    background: black;
    width: 1px; /* when vertical */
    height: 1px; /* when horizontal */
}
/************************************************************/

QMenu {
     background-color: white;
     margin: 2px; /* some spacing around the menu */
 }

 QMenu::item {
     padding: 2px 25px 2px 20px;
     border: none;/* reserve space for selection border

   /*  border-radius: 2px; */
 }

 QMenu::item:selected {
     border-color: none;
     background: #308cc6;
     color: white;
/*     background: rgba(15, 130, 190, 150);*/
/*     border-radius: 0px;*/
 }

 QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: gray;
     border: 1px inset gray;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }

 QMenu::separator {
     height: 2px;
     background: lightblue;
     margin-left: 10px;
     margin-right: 5px;
 }

 QMenu::indicator {
     width: 13px;
     height: 13px;
 }

/************************************************************/

QMenuBar {
/*    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #c1c1c1, stop:1 #a1a1a1);*/

    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #606060, stop:1 #303030);
    /* background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 rgb(150, 150, 150), stop:1 rgb(90, 90, 90));
     */

     border: none;
     color: white;
 }

 QMenuBar::item {
     spacing: 3px; /* spacing between menu bar items */
     padding: 1px 4px;
     border: 2px solid transparent;
     background: transparent;
/*     border-radius: 2px;*/
 }

/* QMenuBar::item:selected { *//* when selected using mouse or keyboard */
/*     background: #a8a8a8;
 }*/

 QMenuBar::item:pressed {
    border: 1px solid gray;
    color: #308cc6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    background: white;
 }

 QHeaderView::section {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #616161, stop: 0.5 #505050,
                                       stop: 0.6 #434343, stop:1 #656565);
     color: white;
     padding-left: 4px;
     border: 1px solid #6c6c6c;
 }

/*******************************************************************************/
QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #308cc6;
    position: absolute;
    top: -0.5em;
}

QTabWidget::tab-bar {
    alignment: center;
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fff, stop: 0.4 #e1e1e1,
                                stop: 0.5 #efefef, stop: 1.0 #eee);
    border: 2px solid #C4C4C3;
    border-bottom-color: #308cc6; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}
